.table-container {
  display: flex;
  justify-content: space-around;
}

.table-container table {
  width: 45%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
